<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Sopa Griega de Garbanzos</title>
</head>
<body class="fondoB">
    <h1>Sopa Griega de Garbanzos</h1>

    <img width="500" height="250" src="../img/Sopa-Griega.jpeg" alt="Sopa Griega de Garbanzos">

    <p>Es deliciosa servida bien caliente y con los picatostes aparte, para que cada comensal se sirva los que le apetezcan.</p>

    <hr>

    <h2 class="lista">Lista de Ingredientes:</h2>
    <p>Para 4 personas</p>

    <ul>
        <li>Aceite de oliva virgen extra = 30 g</li>
        <li>Cebolla pelada y troceada grande = 1</li>
        <li>Garbanzos cocidos en conserva enjuagados y escurridos = 250 g</li>
        <li>Perejil fresco = 2 ramitas</li>
        <li>Orégano seco = 1 cucharadita</li>
        <li>Sal al gusto</li>
        <li>Pimienta negra molida al gusto</li>
        <li>Agua = 660 ml</li>
        <li>Zumo de limón = 20 g</li>
        <li>Picatostes (pan en tacos frito o asado en el horno) para servir = 100 g</li>
    </ul>

    <hr>

    <h2 class="lista">Lista de Pasos:</h2>

    <ol>
        <li>Picamos la cebolla y la sofreímos en una cazuela.</li>
        <li>Añadimos los garbanzos, el perejil, el orégano, la sal, la pimienta y el agua.</li>
        <li>Dejamos hervir hasta que esté todo unido, unos 20 minutos.</li>
        <li>Añadimos el zumo de limón y trituramos con la batidora.</li>
        <li>Servir bien caliente con los picatostes.</li>
    </ol>

    <iframe width="500" height="250" src="https://www.youtube.com/embed/bVjM_9zcgZw" title="Sopa griega de garbanzos FÁCIL Y SALUDABLE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

    <hr>

    <a href="https://www.directoalpaladar.com/recetas-con-thermomix/sopa-griega-de-garbanzos-receta-con-y-sin-thermomix" target="_blank">Ver esta receta en Directo al Paladar</a>
    <br>
    <a href="instructivo2.html" target="_blank">Ver receta Pollo con Almendras</a>
    <br>
    <a href="../../index.html">Ir al Inicio</a>

</body>
</html>