<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pollo con Almendras</title>
</head>
<body>
    <h1>Pollo con Almendras (estilo chino)</h1>

    <p>Es una receta fácil y deliciosa para la que se necesitan pocos ingredientes y unos 20 minutos de dedicación.</p>

    <hr>

    <h2>Lista de Ingredientes:</h2>
    <p>Para 4 personas</p>

    <ul>
        <li>Pechuga de pollo sin piel y sin hueso = 3</li>
        <li>Salsa de soja = 100 ml</li>
        <li>Jengibre molido = 1 cucharadita</li>
        <li>Azúcar moreno = 1 cucharada</li>
        <li>Almendras crudas sin piel = 110 g</li>
        <li>Zanahoria = 2</li>
        <li>Cebolla = 1</li>
        <li>Caldo de pollo = 200 ml</li>
        <li>Harina de maíz refinada = 10 g</li>
        <li>Aceite de girasol</li>
    </ul>

    <hr>

    <h2>Lista de Pasos:</h2>

    <ol>
        <li>Limpiamos bien las pechugas de pollo y las cortamos en piezas de bocado.</li>
        <li>Sumergimos el pollo en una mezcla de salsa de soja, jengibre molido y azúcar moreno.</li>
        <li>Dejamos reposar en la nevera durante al menos una hora.</li>
        <li>Calentamos un poco de aceite en una sartén y freímos las almendras a fuego medio-alto hasta que estén doradas. Retiramos y reservamos.</li>
        <li>En el mismo aceite y sartén salteamos la cebolla y la zanahoria, previamente peladas y cortadas groseramente.</li>
        <li>Apagamos el fuego y devolvemos las almendras a la sartén.</li>
        <li>Separamos un poco de caldo de pollo en un vasito, añadimos la harina de maíz refinada y removemos hasta integrar.</li>
        <li>Incorporamos el pollo a la sartén junto con la marinada, el caldo y la mezcla de la harina de maíz.</li>
        <li>Cocemos el conjunto durante 20 minutos a fuego medio-bajo y listo para consumir.</li>
    </ol>

    <hr>

    <a href="https://www.directoalpaladar.com/recetas-de-carnes-y-aves/pollo-almendras-estilo-chino-receta-facil-deliciosa-que-querras-hacer-otra-vez" target="_blank">Ver esta receta en Directo al Paladar</a>
    <br>
    <a href="instructivo1.html" target="_blank">Ver receta Sopa Griega de Garbanzos</a>
    <br>
    <a href="../../index.html">Ir al Inicio</a>
</body>
</html>